<!DOCTYPE html>
<html>
<head>
	<%- include partials/head.ejs %>
</head>
<body>
	<%- include partials/header.ejs %>

	<div class="body-container">
		<%- include pages/popular.ejs%>
		<%- include pages/signup.ejs %>
		<%- include pages/yourlist.ejs %>
		<%- include pages/tvshow.ejs %>
		<%- include pages/rating.ejs %>
		<%- include pages/recommendations.ejs %>
		<%- include pages/search.ejs %>
		<%- include pages/genres.ejs %>
	</div>

	<%- include partials/p2js.ejs %>
</body>
</html>

  <!-- + `if`+`TAB` - Inserts EJS `if` statement
  + `for`+`TAB` - Inserts EJS `for` loop -->
