<!DOCTYPE html>
<html>
<head>
	<%- include partials/head.ejs %>
</head>
<body>
	<%- include partials/header.ejs %>
	<div class="body-container">
		<h4>Mail Item</h4>
		<p>Weight: <%= oz %></p>
		<p>Service: <%= service %></p>
		<p>Price: <%= price %></p>
	</div>
</body>
</html>